@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #222;
}


.blinking-cursor {
  color: #222;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.jumbotron {
  background-color: #fff !important;
  color: #222;
}

.main-icon{
  color: #222;
  text-decoration: none !important;
  text-transform: none !important;
  letter-spacing: 0.025em;
}

.main-icon:hover{
  color: #999;
  text-decoration: none !important;
  text-transform: none !important;
  letter-spacing: 0.025em;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
  margin-top: 50px;
  letter-spacing: 0.025em;
}

.social-row {
  margin-top: 50px;
  letter-spacing: 0.5em !important;
}

.canvas {
  margin-bottom: 50px;
}

.address {
  color: #ddd;
  font-size: 0.875rem;
}

.main-title {
  font-size: 2.5rem;
  font-weight: 200;
}

.vertical-align {
  display: flex;
  align-items: center;
}

a.nav-link {
  color: #999;
}

a.nav-link.active {
  color: #222 !important;
}

a.nav-link:hover {
  color: #222 !important;
}

.connect {
  color: #222;
  text-decoration: none !important;
  text-transform: none !important;
}

.connect:hover {
  color: #999;
  text-decoration: none !important;
  text-transform: none !important;
}

.myjumbotron {
   display: table-cell;
   vertical-align: middle;
   max-width: 500px;
   margin: 0 auto;
   color: #222;
}

.projects {
  margin-top: 20px;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #222;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #222;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #222;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #222;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #222;
  }
}

