@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');

#head {
		background : url("ilya-pavlov-87438.jpg") no-repeat;
		background-size: cover;
		height: 400px;
		padding: 70px;
	}

	#maintitle .jumbotron {
		color: white;
		background-color: rgba(0, 0, 0, 0.60);
		max-width: 500px;
		margin: 0 auto;
	}


